button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  border: 3px solid black;
  background: white;
  font-family: 'Space Mono', fixed;
  font-weight: bold;

  transition: border-width 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.25s ease-in-out;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  width: 7.75rem;
  height: 7.75rem;
  padding: 1rem;

  /* Remove tap delay in IE/Edge */
  -ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;		/* IE11+ */
}
button:focus {
  outline: none;
}
button:active {
  border-width: 10px
}
button[disabled]:active {
  border-width: 3px;
}
